.thongbao {
    color: blue;
}

.tinnhan {
    color: rgb(7, 125, 204);
}
.h2 {
    color: blue;
}
.views-row views-row-1 views-row-odd views-row-first{
    text-decoration: none;
}
.hr .h2{
    color: blue;
}
.content .item-list .a{
    text-decoration: none;
}